## Continuation of Pandas_warmup-7-31

In [1]:
import pandas as pd

df = pd.read_csv('https://gist.githubusercontent.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv')

In [2]:
#Display dataframe
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [ ]:
10.Change all the column names lowercase letters remove whitespace

In [3]:
df.columns = df.columns.str.lower().str.replace(' ', '')

In [4]:
df

,#,name,type1,type2,total,hp,attack,defense,sp.atk,sp.def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [61]:
#11.Rename Sp. Attack to special-attack
df.columns

In [4]:
df = df.rename(columns={'sp.atk': 'special-attack'})
df

,#,name,type1,type2,total,hp,attack,defense,special-attack,sp.def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [14]:
#df = df.rename(columns={'special-attack': 'attack'})
#df

In [22]:
#12.Rename Sp. Def to special-defense

In [5]:
df = df.rename(columns={'sp.def': 'special-defense'})
df

,#,name,type1,type2,total,hp,attack,defense,special-attack,special-defense,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [ ]:
13.Which Pokemon has/have the greatest difference in:

Attack and Defense points
Special Attack and Special Defense

In [19]:
df

,#,name,type1,type2,total,hp,attack,defense,special-attack,special-defense,speed,generation,legendary,attack_def_diff
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,-1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,-1
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,-23
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,-50
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,50
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,50
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,100
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,-10

In [21]:
#Attack and Defense points
df['attack_def_dif'] = (df.attack - df.defense).abs()

In [23]:
df[df['attack_def_dif'] == df['attack_def_dif'].max()][['name']]

        name
230  Shuckle

In [ ]:
# Special Attack and Special Defense

In [42]:
df['attack_special_dif'] = (df['special-attack'] - df['special-defense']).abs()

In [43]:
df[df['attack_special_dif'] == df['attack_special_dif'].max()][['name']]

        name
230  Shuckle

In [28]:
max_attack_def_dif = df['attack_def_dif'].max()

# Filter the DataFrame to include rows where 'attack_def_dif' equals the maximum value and select the 'name' column
pokemon_with_max_attack_def_dif = df[df['attack_def_dif'] == max_attack_def_dif][['name']]

print(pokemon_with_max_attack_def_dif)

        name
230  Shuckle

In [ ]:
14.How many Pokemon are of Type 1 Rock and Type 2 Fairy?

In [31]:
rock_fairy_pokemon_count = df[(df['type1'] == 'Rock') & (df['type2'] == 'Fairy')].shape[0]
print (rock_fairy_pokemon_count)

3

In [ ]:
15.Which Fire Pokemon appears last alphabetically?

Create a function named last_pokemon
Use the loaded dataframe as an argument

In [29]:
df

,#,name,type1,type2,total,hp,attack,defense,special-attack,special-defense,speed,generation,legendary,attack_def_diff,attack_def_dif
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,-1,1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,-1,1
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,-23,23
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,9,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,-50,50
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,50,50
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,50,50
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,100,100
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,-10,10

In [32]:
df[df['type1'] == 'Fire'].sort_values(by='name', ascending = False).head(1)

,#,name,type1,type2,total,hp,attack,defense,special-attack,special-defense,speed,generation,legendary,attack_def_diff,attack_def_dif
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False,1,1

In [38]:
def last_pokemon(df):
    alpha_last_fire_pokemon = df[df['type1'] == 'Fire'].sort_values(by='name', ascending = False).head(1)
    return alpha_last_fire_pokemon  
alpha_last_fire_pokemon_value = last_pokemon(df)
alpha_last_fire_pokemon_value

,#,name,type1,type2,total,hp,attack,defense,special-attack,special-defense,speed,generation,legendary,attack_def_diff,attack_def_dif
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False,1,1

In [47]:
#Bonus

#1.Find the average speed by Generation

In [45]:
average_speed_by_generation = df.groupby('generation')['speed'].mean()
print("Average Speed by Generation:")
print(average_speed_by_generation)

Average Speed by Generation:
generation
1    72.584337
2    61.811321
3    66.925000
4    71.338843
5    68.078788
6    66.439024
Name: speed, dtype: float64

In [ ]:
2.Create a function which acccepts:

a dataframe
two different Pokemon stats e.g. Attack and Defense

In [ ]:
The function will:

Calculate difference between the two given Pokemon stats

In [ ]:
Create a column which contains the difference of the two given Pokemon stats named stats-diff

In [48]:
df.columns

Index(['#', 'name', 'type1', 'type2', 'total', 'hp', 'attack', 'defense',
       'special-attack', 'special-defense', 'speed', 'generation', 'legendary',
       'attack_def_diff', 'sp_attack_def_diff'],
      dtype='object')

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   #                   800 non-null    int64
 1   name                800 non-null    object
 2   type1               800 non-null    object
 3   type2               414 non-null    object
 4   total               800 non-null    int64
 5   hp                  800 non-null    int64
 6   attack              800 non-null    int64
 7   defense             800 non-null    int64
 8   special-attack      800 non-null    int64
 9   special-defense     800 non-null    int64
 10  speed               800 non-null    int64
 11  generation          800 non-null    int64
 12  legendary           800 non-null    bool
 13  attack_def_diff     800 non-null    int64
 14  sp_attack_def_diff  800 non-null    int64
 15  stats-diff          800 non-null    int64
dtypes: bool(1), int64(12), object(3)
memory usage: 94.7+ KB

In [39]:
import pandas as pd


def calculate_stats_difference(dataframe, stat1, stat2):
    # Step 3: Calculate the difference between the two given stats
    dataframe['stats-diff'] = dataframe[stat1] - dataframe[stat2]
    return dataframe

# Example: Calculate difference between Attack and Defense and create a new column 'stats-diff'
df = calculate_stats_difference(df, 'attack', 'defense')
print("\nDataFrame with 'stats-diff' column:")
print(df)

DataFrame with 'stats-diff' column:
       #                   name    type1   type2  total  hp  attack  defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     special-attack  special-defense  speed  generation  legendary  \
0                65               65     45           1      False
1                80               80     60           1      False
2               100              100     80           1      False
3               122              120     80           1      False
4                60               50     65           1      False
..              ...              ...    ...         ...        ...
795             100              150     50           6       True
796             160              110    110           6       True
797             150              130     70           6       True
798             170              130     80           6       True
799             130               90     70           6       True

     attack_def_diff  attack_def_dif  stats-diff
0                  0               0           0
1                 -1               1          -1
2                 -1               1          -1
3                -23              23         -23
4                  9               9           9
..               ...             ...         ...
795              -50              50         -50
796               50              50          50
797               50              50          50
798              100             100         100
799              -10              10         -10

[800 rows x 16 columns]

In [46]:
df.loc[:,df.dtypes == 'O'].describe()

             name  type1   type2
count         800    800     414
unique        800     18      18
top     Bulbasaur  Water  Flying
freq            1    112      97

In [44]:
df.loc[:,df.dtypes == 'O']

                      name    type1   type2
0                Bulbasaur    Grass  Poison
1                  Ivysaur    Grass  Poison
2                 Venusaur    Grass  Poison
3    VenusaurMega Venusaur    Grass  Poison
4               Charmander     Fire     NaN
..                     ...      ...     ...
795                Diancie     Rock   Fairy
796    DiancieMega Diancie     Rock   Fairy
797    HoopaHoopa Confined  Psychic   Ghost
798     HoopaHoopa Unbound  Psychic    Dark
799              Volcanion     Fire   Water

[800 rows x 3 columns]